<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <!-- 后续新增 -->
    <security:http>
        <!-- 拦截资源 -->
        <security:intercept-url pattern="/userlogin" access="permitAll()"></security:intercept-url>
        <security:intercept-url pattern="/product/index" access="permitAll()"></security:intercept-url>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"></security:intercept-url>

        <security:form-login login-page="/userlogin"/>
    </security:http>
    <security:authentication-manager> </security:authentication-manager>
</beans>